rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /items/{imageFile} {
      allow read:   if request.auth != null;
      allow create, update: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
